/*
Green: #AFCC67
Purple: #24164D
Gray: #E6E6E6
Black: #000000
White: #FFFFFF
font-family: 'Crimson Text', serif;
*/

html,
body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
}
#navigationBar {
	display: inline-block;
	background: #AFCC67;
	width: 70vw;
	font-weight: 500;
	font-size: 20px;
	height: 50px;
	position: absolute;
	top: 75px;
	right: 0px;
}

/*
-------------------------------------------------HEADER BEGIN
*/

#navigationBar ul {
	width: auto;
	display: inline-block;
}
#navigationBar li {
	list-style-type: none;
	display: inline-block;
}
#navigationBar a {
	text-decoration: none;
	color: black;
	transition: all .25s ease;
}
#navigationBar a:hover {
	color: white;
}
#header .navigationExternal {
	position: absolute;
}
.navigationExternal {
	right: 0px;
	margin-right: 30px;
	list-style-type: none;
}
.navigationExternal img {
	margin-left: 5px;
	height: 40px;
}
.navigationExternal {
	padding-right: 40px;
	margin: 5px;
}
#navigationLinks {
	position: absolute;
	left: 0px;
}
#navigationLinks {
	margin-top: 12px;
}
#navigationLinks li {
	margin-right: 20px;
}
#header #logo {
	display: inline-block;
	position: relative;
	top: 25%;
	left: calc(15vw - 152px)
}
#header {
	border-bottom: #E6E6E6 solid 2px;
	height: 200px;
}
#footer {
	border-top: #E6E6E6 solid 2px;
	text-align: center;
}

}
#footer .navigationExternal {
	display: none;
}
#footer .navigationExternal li {
	display: none
}
#footer .navigationExternal img {
	height: 70px;
}

/*
-----------------------------------------------------------------------HEADER END
*/
#carouselWrapper {
	z-index: 20;
	min-height: 750px;
}
#carousel {
	top: 50px;
	position: relative;
	height: 600px;
	/*To fight inline-block spaces breaking 100% width*/
	
	font-size: 0px;
}
.spacer {
	z-index: 30;
	width: 2.5%;
	height: 600px;
	position: relative;
	top: 50px;
	display: inline-block;
}
.navButton {
	z-index: 20;
	display: inline-block;
	height: 600px;
	width: 15%;
	background: #24164D;
}
.navButton div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all .5s ease;
}
#leftNav div {
	right: 10px;
	height: 100px;
	width: 100px;
	position: absolute;
	background: url('images/triangleLeft.png')
}
#leftNav div:hover {
	background: url('images/filledTriangleLeft.png')
}
#rightNav div:hover {
	background: url('images/filledTriangleRight.png')
}
#rightNav div {
	left: 10px;
	height: 100px;
	width: 100px;
	position: absolute;
	background: url('images/triangleRight.png')
}
#carouselContent {
	width: 65%;
	height: 600px;
	display: inline-block;
	background: linear-gradient( rgba(36, 22, 77, 0.9), rgba(36, 22, 77, 0.9)), url('images/background.png');
}
.carouselComponent {
	position: relative;
}
.carouselInfo {
	position: absolute;
	display: none;
	font-size: 16px;
	z-index: 10;
	color: white;
	height: 600px;
	width: 100%;
}
.sidewaysHeader {
	transform: rotate(270deg);
	top: calc(50% - 38px);
	position: absolute;
	display: inline-block;
	font-size: 75px;
}
.slideInfo {
	font-size: 26px;
	left: 150px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	max-width: calc(100% - 150px);
	width: auto;
}
.slideInfo li {
	list-style: none;
}
#carouselButtons {
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	position: relative;
	top: 50px;
}
#carouselButtons div {
	margin: 5px;
	display: inline-block;
	height: 30px;
	width: 30px;
	border: solid 5px #AFCC67;
	border-radius: 50%;
}
@media (max-width: 1200px) {
	.slideInfo {
		font-size: 18px;
	}
}
@media (max-width: 1000px) {
	#navigationBar .navigationExternal {
		display: none;
	}
	#footer .navigationExternal {
		display: inline-block;
	}
	#footer .navigationExternal li {
		display: inline-block;
	}
	#navigationBar {
		width: 100vw;
		text-align: center;
		position: relative;
	}
	#header #logo {
		left: calc(50vw - 152px)
	}
	#navigationLinks {
		position: relative;
	}
	#header {
		height: 250px;
	}
	.sidewaysHeader {
		font-size: 60px;
	}
	.slideInfo {
		font-size: 16px;
		left: 100px;
	}
}
@media (max-width: 800px) {
	.navButton {
		display: none;
	}
	.spacer {
		display: none;
	}
	#carouselContent {
		width: 100%;
	}
}
@media (max-width: 500px) {
	#navigationLinks {
		font-size: 14px;
	}
	.slideInfo {
		font-size: 15px;
		left: 75px;
		max-width: calc(100% - 100px);
	}
	.sidewaysHeader {
		font-size: 50px;
	}
}
